h1 {
    font-size: 4em;
    text-align: center;
    text-shadow: 10px 11px 12px #cccccc;
}
h1, h3 {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-weight: bold;
}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 3em;
    text-align: center;
    
}
body {
    font-size: 62.5%; /* Resets 1em to 10px */
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    background: #062E46;
    color: whitesmoke;
    text-align: Center;
}

input:focus, textarea:focus {
    background-color: #849BAD;
}

a:link {
    color: gray;
}
a:visited {
    color: gray;
}

a:hover {
    color:whitesmoke; 
}
.avatar {
    max-width:80px;
    max-height:80px;
    min-width:80px;
    min-height:80px;
}

#login { 
            width: 20%;
            margin-left: auto;
            margin-right: auto;
            color: #5B496E;
             border-color:#cccccc;
             background: #E2E6E9;
             border-style:solid;
             text-align:center; 
             border-radius:17px;
             border-width:7px; 
             font-size:20px; 
             padding:30px;
             box-shadow: 1px 0px 20px 0px rgba(42,42,42,.55);
             text-shadow:1px 0px 0px rgba(42,42,42,.75); 
} 

#abutton{
    	border : solid 1px #ffffff;
	border-radius : 10px;
	moz-border-radius : 10px;
	font-size : 14px;
	color : #000000;
	padding : 2px 10px;
	background-color : #d6d6d6;
        
}

#abutton:hover{
    	border : solid 1px #ffffff;
	border-radius : 10px;
	moz-border-radius : 10px;
	font-size : 14px;
	color : #000000;
	padding : 2px 10px;
	background-color : #7F7F7F;
        
}
